* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    justify-content: space-between; /* Alinea ambos formularios al inicio */
    max-width: 900px; /* Define un ancho máximo para el contenedor */
    margin: 0 auto; /* Centra el contenedor */
}

.form-solicitud {
    flex: 2; /* Hacer que el formulario principal sea más ancho */
    margin-right: 10px; /* Espacio entre los formularios */
}

.side-form {
    flex: 1; /* Hacer que el formulario lateral sea más estrecho */
}

.form-solicitud, .side-form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Permite que los elementos se ajusten a la siguiente línea si es necesario */
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
